* {
	font-family: 'Poiret One', cursive;

}

body {
	text-align: center;
}

.pomodoro-logo {
	margin-top: 25px;
	height: 100px;
}

.panel {
	display: inline;
}

.panel-left {
	float: left;
	font-size: 2em;
	/*border-style: solid;*/
}

.timer-left {
	float: left;
	font-size: 2em;
	/*border-style: solid;*/
    transform: translate(25%, 75%);
}

.panel-right {
	float: right;
	font-size: 2em;
	/*border-style: solid;*/
}

.timer-right {
	float: right;
	font-size: 2em;
	/*border-style: solid;*/
	transform: translate(-25%, 75%);

}

.display {
	display: inline-flex;
	font-size: 90px;
	/*border-style: solid;*/

}

.alert-info {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	/*border-style: solid;*/
}

blockquote {
	border-left: none;
	text-align: left;
}

.progress {
	margin-top: 10px;
	width: 100%;
	background-color: grey;
}

#bar {
	width: 100%;
	height: 30px;
	background-color: green;
}

.controls {
	margin-bottom: 20px;
	/*border-style: solid;*/

}

#ops {
	width: 50%;
}

#quote {
	padding: 0 100px 0 100px;
}

.icons {
	margin-bottom: 20px;
}

#github {
	width: 40px;
}

#linkedin {
	width: 30px;
}